/* Временная центровка */
.container, header, footer {
    max-width: 960px;
    margin: 0 auto;
}

/* Глобальные стили*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    background-color: black;
    background-image: url("../img/index-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page {
    color: #000;

    background-image: url("../img/fone.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.button {
    width: 140px;
    height: 44px;

    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.page-title {
    font-size: 30px;
    line-height: 42px;
}

.section-title {
    font-size: 24px;
    line-height: 30px;
}

.breadcrumbs {
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs a:hover {
    color: #663d15;
}

.breadcrumbs-current {
    color: #aba9a7;
}


/* header */

.main-navigation {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;

    background-color: #000000;
}

.site-navigation,
.user-navigation {
    list-style-type: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

/* main */
/* features */

.features-list {
    list-style-type: none;
}

.features-item {
    text-align: center;
}

.features-item h3 {
    color: #f7f4f1;
    font-size: 30px;
    line-height: 42px;
}

/* news + gallery */

.index-columns {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("../img/fone.jpg");
    background-position: 0 0;
    background-repeat: repeat;

}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    list-style-type: none;
}

.news-item time {
    text-transform: lowercase;
}

.gallery-content {
    background-color: #e5e5e5;
    border: 7px solid #ffffff;
}

/* contacts + appointment*/

.appointment-item input {
    font: inherit;

    border: 2px solid #000101;
    background-color: #f9f6f3;
}

.appointment-item input:focus {
    border: 2px solid #663d15;
}

/* footer */

.main-footer {

    background-color: #232323;
    background-image: url("../img/footer-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style-type: none;
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}

/* modal */

.modal {
    color: #000000;

    background-color: #ffffff;
    background-image: url("../img/fone.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type=text],
.login-form input[type=password] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    border: 2px solid #000101;
    background-color: #f9f6f3;
}

.login-form input:focus {
    border: 2px solid #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

/* shop */
/*filter*/

.filter fieldset {
    border: none;
}

.filter label {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.checkbox-indicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #000101;
    background-color: #f9f6f3;
}

.checkbox-indicator-checked {
    background: url("../img/cross.png") center no-repeat;
}

.radio-indicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #000101;
    border-radius: 50%;
    background-color: #f9f6f3;
}

.radio-indicator-checked {
    background: url("../img/circle.svg") center no-repeat;
}

/*catalog*/
.catalog-list {
    max-width: 700px;

    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-item {

    margin-bottom: 20px;
    background-color: #ffffff;
    /* Style for "Layer 27 c" */
    width: 220px;
    height: 286px;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
.catalog-item:hover {
    box-shadow: 3px 4px 25px rgba(0, 1, 1, 0.3);
}
.catalog-item h3,
.catalog-item p {
    font-size: 14px;
    line-height: 18px;
}

.catalog-item h3 a {
    color: #000000;
}
.catalog-category {
    text-transform: none;
}

.catalog-item-price b,
.product-price b {
    background-color: #e5e5e5;
}
/*pagination*/
.pagination-list {
    list-style-type: none;
    display: flex;
}
.pagination-item {
    display: flex;
    width: 43px;
    height: 43px;
    background-color: #000000;
    margin-right: 7px;
}
.pagination-item:hover {
    background-color: #663d15;
}
.pagination-item a{
    color: white;
    line-height: 18px;
    margin: auto;

}

.pagination-item-current,
.pagination-item-current:hover{
    background-color: #ffffff;
}

.pagination-item-current a{
    color: #000000;
}

/*          Item             */

.product-photo-preview {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 460px;
    display: flex;
    justify-content: space-between;
}

.product-article {
    color: #aeaeae;
}

.product-set {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-image: url("../img/list-point.svg");
}

/*price*/

.price-title {
    font-size: 48px;
    line-height: 48px;
}
.brands-list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-image: url("../img/list-point.svg");
}

.price-list {
    border-collapse: collapse;
}
.price-list td {
    /* Style for "Layer 12 c" */
    width: 231px;
    height: 43px;
    border: 2px solid #000101;
    background-color: #f9f6f3;
}
.cost {
    text-align: center;
}

.about-us ul {
    list-style-type: none;
}